<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Document Upload</title>
    </head>
    <body>
        <h1>Upload your csv file </h1>
        <form method="POST" action="/products/process_file" enctype="multipart/form-data">
            <p><input type="file" name="file" accept="text/csv"></p>
            <p><input type="submit" value="Submit"></p>
        </form>
        
    </body>

</html>
<script>
    
</script>